body{
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #444;
}

.svg{
	width:200px;
	height: 200px;
}

circle{
	cursor: pointer;
	fill: none;
	stroke: #fff;
	stroke-width:10px;
	stroke-dasharray: 100 100;
	stroke-dashoffset:70;
	animation: rotate 6s ease-in alternate infinite;
}

circle:hover{
	animation-play-state: paused;
}

@keyframes rotate{
	0%{
		stroke:#14ffe9;
		stroke-dasharray: 100 100;
		stroke-dashoffset:70;
	}

	50%{
		stroke:#ffeb3b;
	}
	100%{
		stroke:#ff00ed;
		stroke-dasharray: 0 0;
		stroke-dashoffset:-600;
	}
}